body{background-color: rgba(184, 240, 147, 0.979);
}
h2 {color:rgb(0, 68, 255); 
text-align: center;
}
p {color: black;
}
p {
    color: black;
    font-size: larger;
    font-style: italic;
}
title{
    text-align: center;
}
